
{% extends 'online_school/base.html' %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Контакты</h1>
        <p class="lead"></p>
    </div>


{% endblock %}

<!--<script>-->
<!--  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
<!--  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
<!--  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');-->

<!--  ga('create', 'UA-4481610-59', 'auto');-->
<!--  ga('send', 'pageview');-->


<!--</script>-->

<!--&lt;!&ndash; Yandex.Metrika counter &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--     (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter39705265 = new Ya.Metrika({ id:39705265, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");-->
<!--</script>-->

<!--<noscript>-->
<!--    <div><img src="https://mc.yandex.ru/watch/39705265" style="position:absolute; left:-9999px;" alt="Yandex.Metrika"/>-->
<!--    </div>-->
<!--</noscript> &lt;!&ndash; /Yandex.Metrika counter &ndash;&gt;-->
