{% extends 'online_school/base.html' %}

{% block body %}

<div class="container">
        <h3>Список курсов</h3>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Название</th>
        <th>Преподаватели</th>
    </tr>
    </thead>
    <tbody>
    {% for course in object_list %}
    <tr>
        <td>{{ course.title }}</td>
        <td>
            {% for teacher in course.teachers.all %}
                {{ teacher }};
            {% endfor %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>1</td>
        <td>No course yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div>
{% endblock %}