{% extends 'online_school/base.html' %}

{% block body %}
  <div class="container">
    <h3>Список занятий</h3>


    <table class="table table-bordered">
    <thead>
    <tr>
        <th>Дата</th>
        <th>Время</th>
        <th>Курс</th>
        <th>Тема</th>
        <th>Описание</th>
        <th>Преподаватель</th>
    </tr>
    </thead>
    <tbody>
    {% for lesson in object_list %}
    <tr>
        <td>{{ lesson.date}}</td>
        <td>{{ lesson.time }}</td>
        <td>{{ lesson.course }}</td>
        <td>{{ lesson.title }}</td>
        <td>{{ lesson.desc }}</td>
        <td>{{ lesson.teacher }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>1</td>
        <td>No lesson yet.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}