{% extends 'online_school/base.html' %}

{% block body %}
  <div class="container">
    <h3>Список преподавателей</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Номер</th>
            <th>ФИО преподавателя</th>
        </tr>
        </thead>
        <tbody>
        {#        {{ Teacher }}#}
        {#        {% for Teacher in object_list %}#}
        {#        <tr>#}
        {#            <td>{{ teacher.id}}</td>#}
        {#            <td>{{ Teacher }}</td>#}
        {#        </tr>#}
        {#        {% empty %}#}
        {#        <tr>#}
        {#            <td>1</td>#}
        {#            <td>No teacher yet.</td>#}
        {#        </tr>#}
        {#        {% endfor %}#}
        </tbody>
    </table>
</div>
{% endblock %}