{% extends 'online_school/base.html' %}

{% load crispy_forms_tags %}
{% block body %}

    <form method="post" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row m-2">

                <div class="col-sm-2"></div>

                <div class="col-sm-8">
                    <dl class="register">
                        <div class="card ">
                            <div class="card shadow-sm">

                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">Регистрация</h4>
                                </div>

                                <div class="card-body">
                                    <div class="form-group">


                                        <dd class="clearfix">
                                            {{ form.user_role|as_crispy_field }}
                                            <div class="row">
                                                <div class="col-6">
                                                    {{ form.username|as_crispy_field }}
                                                </div>
                                                <div class="col-6">
                                                    {{ form.email|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    {{ form.password1|as_crispy_field }}
                                                </div>
                                                <div class="col-6">
                                                    {{ form.password2|as_crispy_field }}
                                                </div>
                                            </div>


                                        </dd>

                                    </div>
                                    {#                                {% endfor %}#}

                                </div>

                                <div class="card-footer text-muted">
                                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                                        Зарегистрироваться
                                    </button>
                                </div>
                            </div>
                        </div>
                    </dl>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </form>

{% endblock %}